</div>
<div id="footer">
    <div class="container">
        <p class="pull-right">Jumbotron pattern by <a href="http://subtlepatterns.com" target="_blank">Subtle Patterns</a></p>
        <p>Copyright {{ site.time | date: '%Y' }} <a href="http://www.fusonic.net" target="_blank">Fusonic</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
