<li>
    <a href="http://fusonic.github.io/linq">
        fusonic/linq<br>
        <small>PHP implementation of LINQ 2 Objects.</small>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="http://fusonic.github.io/opengraph">
        fusonic/opengraph<br>
        <small>A simple PHP library to read Open Graph data from the web or publish your own resources.</small>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="http://fusonic.github.io/spreadsheetexport">
        fusonic/spreadsheetexport<br>
        <small>PHP Library to export data in various spreadsheet formats like ODS, CSV, TSV ...</small>
    </a>
</li>
