@import "bootstrap/bootstrap";
@import "bootswatch/bootswatch";

@import "bootstrap/variables";
@import "bootswatch/variables";
@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch/bootswatch";

html,
body
{
  height: 100%;
}

#wrap
{
  min-height: 100%;
  height: auto;
  padding: $navbar-height 0 $navbar-height;
  margin-bottom: -$navbar-height;
}

// GitHub actions in navbar on top
.navbar-gh-actions
{
  height: $navbar-height;

  > iframe
  {
    @include navbar-vertical-align(20px);
  }
}

// Footer
#footer
{
  width: 100%;
  height: $navbar-height;
  background-color: $gray-dark;
  color: $gray-light;

  a
  {
    color: $gray-light;
  }

  > .container > p
  {
    @include navbar-vertical-align($font-size-base * $line-height-base);
  }
}

// Heading dividers
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

// Background pattern for jumbotron
.jumbotron
{
  box-shadow: 0px 0px 10px #888;
  margin-bottom: 10px;

  &.jumbotron-bg
  {
    background: url($jumbotron-pattern);
  }

  background: url($jumbotron-pattern);

  > .container > h1
  {
    border-bottom: none;
    padding-bottom: 0;
  }
}
