$brand-primary:           #dd4814;
$headings-color:          $brand-primary;
$jumbotron-pattern:       "http://subtlepatterns.com/patterns/sativa.png";

@import "bootswatch/_variables";
@import "bootstrap/_variables";
